@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
@font-face {
    font-family: 'Android';
    src: url(pacote-projeto-d010/fontes/idroid.otf) format('opentype');
    font-weight: normal;
}
*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-android: 'Android', cursive;
}
header{
    background-image: linear-gradient(to bottom, var(--cor3),  var(--cor5) );
    min-height:180px;
    text-align: center;
    padding-top: 50px;
}
header > h1{
    color: white;
    font-family: var(--fonte-android);
    font-size: 2.5em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0 / 32%);
}
header > p{
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin: auto;
    padding-bottom: 50px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0 / 32%);   
}
main h1{
    font-family: 'Android';
    color: var(--cor4);
    font-weight: normal;
    font-size: 1.8em;
} 
main h2{
    font-family: 'Android';
    color: var(--cor4);
    font-weight: normal;
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
}
nav{
   background-color: var(--cor5);
   padding:10px;
   box-shadow: 0px 7px 7px rgb(0, 0, 0 / 19%);
}
nav > a{
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
}
nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
}
main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main img{
    margin: auto;
    display: block;
}
a.externo::after{
    content: '\00A0\1F517';
}
aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgb(0 0 0 / 28%);
}
aside > h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}
/*.contenedor {
    position: relative;
    height: 0px;
    width: 100%;   
    padding-bottom: 56.25%;
}*/
div.video{
    background-color:var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}
body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}
main a {
    text-decoration: none;
    font-weight: bold;
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}
strong{
    color: var(--cor4);
}
abbr{
    text-decoration: none;
}
footer{
    background-color: var(--cor5);
    color: white;
    margin: auto;
    width: auto;
    text-align: center;
}
footer  a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}
main a:hover{
    text-decoration: underline;
    color: white;
    background-color: var(--cor1);
    border-radius: 4px;
    transition-duration: .5s;
}
.meu > a:hover{
    text-decoration: underline;
    color: white;
    background-color: var(--cor3);
    border-radius: 4px;
    transition-duration: .5s;
}

